 .containerCard{
    padding-bottom: 420px;
    height: 250px;
    width: 250px; 
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    opacity: 2;
    background-color: rgba(249, 237, 107, 0.697);
    color: black;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    border-radius: 5%;
} 

.name {
    margin-top: -15px;
    color: black;
    text-align: center;
  }
  
  .img {
    display: block;
    margin: auto;
    width: 80px; 
    height: 80px

  }

  .itemCon{
    background-color: aquamarine;
  }