.cont{
background-image: url("https://pbs.twimg.com/media/EauYUx-VAAMTLJT?format=jpg&name=large" );
  height: 600px;
    
   
}

.img{
   
width: max-content;
height: max-content;
margin-bottom: -120;
}